fastapi
uvicorn[standard]

sqlalchemy
alembic
psycopg2-binary

pydantic
pydantic-settings

passlib[bcrypt]
python-jose[cryptography]
python-multipart

pytest
httpx

python-dotenv
email-validator

redis
celery

slowapi


